<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ICompetitionDao">
    <!-- 添加竞赛 -->
    <insert id="addCompetition">
        insert into
        competition(cid,cname,hostName,school,type,cnum,gnum,startCompetition,endCompetition,enrollStartTime,enrollEndTime)
        values (#{cid},#{cname},#{hostName},#{school},#{type},#{cnum},#{gnum},#{startCompetition},#{endCompetition},#{enrollStartTime},#{enrollEndTime})
    </insert>

    <!-- 修改竞赛信息 -->
    <update id="updateCompetition">
update Competition set cname=#{cname},hostName=#{hostName},school=#{school},type=#{type},cnum=#{cnum},gnum=#{gnum},startCompetition=#{startCompetition},endCompetition=#{endCompetition},enrollStartTime=#{enrollStartTime},enrollEndTime=#{enrollEndTime}
		where cid=#{cid}
    </update>

    <!-- 查询当前竞赛 -->
    <select id="getCompetition" resultType="com.cms.entity.Competition" useCache="false" flushCache="true">
        select * from Competition where cid=#{cid};
    </select>

    <!-- 查询所有竞赛 -->
    <select id="getAllCompetition" resultType="com.cms.entity.Competition" useCache="false" flushCache="true">
         select * from Competition ;
    </select>
</mapper>