<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ILicenseDao">

    <!-- 添加参赛证 -->
    <insert id="insertLicense" parameterType="com.cms.entity.License">
        insert into License(competitorId,name,teamname,cid,cname,licenseId)
        values (#{license.competitorId}, #{license.name}, #{license.teamName},
        #{license.cid}, #{license.cname},#{license.licenseId});
        <selectKey keyColumn="1" resultType="int" keyProperty="competitorId" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>
    <update id="updateLicense" parameterType="com.cms.entity.License">
        update License set name=#{license.name}, pid=#{license.pid} where cid=#{license.cid} and competitorId=#{license.competitorId}
    </update>

    <!-- 查询是否存在参赛证 -->
    <select id="isExistLicense"  parameterType="String" resultType="com.cms.entity.License">
        select * from License
        where 1=1
        <if test="competitorId !=null and competitorId != ''">
            and  competitorId = #{competitorId}
        </if>
        <if test="cid !=null and cid !='' ">
            and   cid = #{cid}
        </if>
    </select>

    <!-- 获取参赛证 -->
    <select id="getLicense" parameterType="String" resultType="com.cms.entity.License">
        select * from License
        where 1=1
        <if test="cid !=null and cid != '' ">
            and cid = #{cid}
        </if>
        <if test="competitorId !=null and competitorId != ''">
            and competitorId = #{competitorId}
        </if>
    </select>

    <select id="getLicenseByCid" resultType="com.cms.entity.License">
       select * from License where cid = #{cid}
    </select>
</mapper>