<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.ILicenseDao">

    <!-- 添加参赛证 -->
    <insert id="insertLicense" parameterType="com.cms.entity.License">
        insert into License values (#{license.competitorId}, #{license.name}, #{license.teamName}, #{license.school},
        #{license.cid}, #{license.cname}, #{license.pid}, #{license.oid});
        <selectKey keyColumn="1" resultType="int" keyProperty="competitorId" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>

    <!-- 查询是否存在参赛证 -->
    <select id="isExistLicense" parameterType="com.cms.entity.License" resultType="com.cms.entity.License">
        select * from License where competitorId=#{license.competitorId} and cid=#{license.cid} and pid=#{license.pid}
    </select>

    <!-- 获取参赛证 -->
    <select id="getLicense" parameterType="String" resultType="com.cms.entity.License">
        select * from License where competitorId = #{competitorId} and cid=#{cid};
    </select>
</mapper>