<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.IPlaceDao">

    <!-- 根据赛场id查询所有赛事的赛场安排 -->
    <select id="getPlaceByPid" parameterType="String" resultType="com.cms.entity.Place" useCache="false" flushCache="true">
        select * from Place where pid=#{pid}
    </select>

    <!-- 根据赛事id查询所有赛场 -->
    <select id="getPlaceByCid" parameterType="String" resultType="com.cms.entity.Place" useCache="false" flushCache="true">
        select * from Place where cid=#{cid}
    </select>

    <!-- 插入赛场 -->
    <insert id="insertPlace" parameterType="com.cms.entity.Place">
        insert into Place values (#{place.pid}, #{place.school}, #{place.pname}, #{place.pnum}, #{place.cid},
        #{place.csize}, #{place.manager})
        <selectKey keyColumn="1" resultType="int" keyProperty="pid" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>
    <!-- 判断赛场是否被安排 -->
    <select id="isExistPlace" parameterType="String" resultType="com.cms.entity.Place" useCache="false" flushCache="true">
        select * from Place where school=#{school} and pname=#{pname} and pnum=#{pnum} and cid=#{cid};
    </select>
    <select id="getPlaceByCidAndPid" resultType="com.cms.entity.Place" useCache="false" flushCache="true">
          select * from Place where pid=#{pid} and cid=#{cid}
    </select>
    <select id="getPlaceByCAndP" resultType="com.cms.entity.Place" useCache="false" flushCache="true">
             select * from Place where pid=#{pid} and cid=#{cid}
    </select>
</mapper>