<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- CompetitionOrderController -->
    <servlet>
        <servlet-name>getOrderByCid</servlet-name>
        <servlet-class>com.cms.controller.CompetitionOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOrderByCid</servlet-name>
        <url-pattern>/CompetitionOrder/getOrderByCid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertNewOrder</servlet-name>
        <servlet-class>com.cms.controller.CompetitionOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertNewOrder</servlet-name>
        <url-pattern>/CompetitionOrder/insertNewOrder</url-pattern>
    </servlet-mapping>
    <!-- CompetitionOrderController end -->

    <!-- LicenseController -->
    <servlet>
        <servlet-name>getLicenseById</servlet-name>
        <servlet-class>com.cms.controller.LicenseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLicenseById</servlet-name>
        <url-pattern>/License/getLicenseById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertLicense</servlet-name>
        <servlet-class>com.cms.controller.LicenseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertLicense</servlet-name>
        <url-pattern>/License/insertLicense</url-pattern>
    </servlet-mapping>
    <!-- LicenseController end -->

    <!-- PlaceController -->
    <servlet>
        <servlet-name>getPlaceByPid</servlet-name>
        <servlet-class>com.cms.controller.PlaceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPlaceByPid</servlet-name>
        <url-pattern>/Place/getPlaceByPid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPlaceByCid</servlet-name>
        <servlet-class>com.cms.controller.PlaceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPlaceByCid</servlet-name>
        <url-pattern>/Place/getPlaceByCid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertPlace</servlet-name>
        <servlet-class>com.cms.controller.PlaceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertPlace</servlet-name>
        <url-pattern>/Place/insertPlace</url-pattern>
    </servlet-mapping>
    <!-- PlaceController end -->

    <!--  ScheduleController  -->
    <servlet>
        <servlet-name>selectGradeByCompetitorId</servlet-name>
        <servlet-class>com.cms.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectGradeByCompetitorId</servlet-name>
        <url-pattern>/Schedule/selectGradeByCompetitorId</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>selectGradeByCid</servlet-name>
        <servlet-class>com.cms.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selectGradeByCid</servlet-name>
        <url-pattern>/Schedule/selectGradeByCid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllLevelCountByCid</servlet-name>
        <servlet-class>com.cms.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllLevelCountByCid</servlet-name>
        <url-pattern>/Schedule/getAllLevelCountByCid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>findSeat</servlet-name>
        <servlet-class>com.cms.controller.ScheduleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findSeat</servlet-name>
        <url-pattern>/Schedule/findSeat</url-pattern>
    </servlet-mapping>
    <!-- ScheduleController end -->
</web-app>